@import '../abstract/Mixins/box-shawdow';

$depths: 2, 4, 8, 12, 24;

@each $depth in $depths {
  .box-shadow-#{index($depths, $depth)} {
    @include BoxShadow($depth);
    transition: box-shadow 300ms ease-out;
  }

  .box-shadow-hover-#{index($depths, $depth)} {
    transition: box-shadow 300ms ease-out;

    &:hover,
    &:focus-within {
      @include BoxShadow($depth);
    }
  }
}
