// FORMS
.form-group {
  position: relative;
}

input ~ label,
label ~ label,
input + .form-group {
  margin-top: 1rem;
}

.form-control:focus,
.form-control-lg:focus {
  box-shadow: 0 0 0 2px rgba(18, 115, 146, 0.251);
}

.custom-control {
  padding-left: 16px;
}

// INPUT PLACEHOLDER
::-webkit-input-placeholder {
  /* Edge */
  color: $gray-regular !important;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $gray-regular !important;
}
::placeholder {
  color: $gray-regular !important;
}

// RADIO BUTTONS & CHECKBOXES
.custom-control-label::before,
.custom-control-label::after {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: -1.5rem;
  display: block;
  transform: translateY(-50%);
}
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: $blue-regular;
  border: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: $blue-regular;
}
.custom-control-input ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px $blue-regular;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
}
input[type='radio'] + label,
input[type='checkbox'] + label,
label > .custom-control-label {
  padding-left: 1rem;
  cursor: pointer;
}

label .error {
  line-height: 1.5rem !important;
  padding-top: 2px;
  font-size: 1.3rem;

  &.label__validation-error {
    position: absolute;
    top: calc(100% + 3px);
    left: auto;
  }
}

label {
  margin-bottom: 0.8rem;
}
